a, h1{
  color: #B54648;
}

.navbar{
  background: black;
}

.navbar-default .navbar-nav > .active{
  color: white;
  background: #B54648;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background: #B54648;
}

.navbar{
  border-color: #B54648;
}

.navbar-default .navbar-nav > li > a:hover{
  background-color: #D69899;
  color: #000;
}

.navbar-toggle{
  border-color: #B54648 !important;
}

.dropdown-menu>.active>a{
  background-color: #B54648 !important;
}

.dropdown-menu>li>a:hover{
  background-color: #D69899;
  color: #000;
} 