/* Hide Button */
#ss-connect-dialog{
  display: none !important;
}

#shiny-disconnected-overlay{
  cursor: not-allowed !important;
  z-index: 999999!;
  background-size: cover;
}

@keyframes expand {
  from {
    transform: scale(.5);
  }
}

/* Custom */
.cleave-overlay{
  z-index:999;
  color: black;
}

.staticParent{
  position: static;
}

